
    
.divperfil{
    width: 100%;
    display: flex;
    
   
    background-color: #ffff;
    

    flex-direction: row;
    justify-content: space-around;

}

.divperfil1{
    width: 30%;
    display: flex;
    
    background-color: #ffff;
    flex-direction: column;
    justify-content: space-around;
}
img.fotoperfil {
     
    width: 16em;
    height: 16em;
    /* margin-top: 2.5em; */
   
    /* align-items: center; */
    /* align-content: center; */
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;
}


.cajonp1{
    background: #FEFEFE;
border: 5px solid #001D3D;
box-sizing: border-box;
border-radius: 20px;
padding-bottom: 2em;
margin-bottom: 1em;
padding: 1em;
}

.cajonp1 h1{
    margin: auto;
}
.cajonp1 h4{
    font-family: 'Outfit';
font-style: normal;
font-weight: 550;
font-size: 48px;
line-height: 60px;
display: flex;
align-items: center;
margin-left: 0.5em;
color: #E31B15;
}

.cajonp1 h5{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 60px;
    display: flex;
    align-items: center;
    margin-left: 0.5em;
    
    color: #001D3D;
    
}
.cajonp1-t{
    display: flex;
    flex-direction: row;
    

}

.cajonp1-t h3 {
    font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 38px;
letter-spacing: -0.025em;
color: #001D3D;

text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);

}

.cajonp1-t h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(1, 38, 78, 0.6);
}

.linea{
    border: 2px solid #001D3D;
    position: absolute;
    
    width: 20%;

}

.cajonp1-sub{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.cajonp1-sub1{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    
}

.cajonp1-sub1 h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #001D3D;
    display: flex;
    align-items: center;
    margin-left: 1em;
    color: #001D3D;
}


.cajonp1-sub h5{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 60px;
    display: flex;
    align-items: center;
    margin-left: 0.5em
em
;
    color: #001D3D;

}

.cajonp1-sub h2{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
display: flex;
align-items:flex-end;

color: #001D3D;

}




.divperfil1 h1{

    margin-top: 4em;
    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 45px;
text-align: center;
letter-spacing: -0.025em;

color: #001D3D;

text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);

}

.divperfil2{
    width: 60%;
    margin-top: 6em;
}

.divperfil2-p1{

    margin-top: 4em;
    background: #FFFFFF;
border: 5px solid #001D3D;
box-sizing: border-box;
border-radius: 20px;
padding: 1.5em
}

.divperfil2-p1 h1{
    font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 45px;
letter-spacing: -0.025em;

color: #001D3D;

text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
}

.divperfil2-p1-com{
    
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    margin: auto;
    overflow-x: scroll;
    

}




.divperfil2-p1-c{
    background: #FFFFFF;
    border: 5px solid #001D3D;
    border-radius: 30px;
    padding: 1em;
    text-align: center;
    margin: 2em;
    /*margin-bottom: 2em;*/
    margin-left: 0%;
    

}

.divperfil2-p1-c h4{
font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 45px;
margin: auto;
color: #001D3D;

}

.divperfil2-p1-c h5{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 117%;
/* or 30px */

display: flex;
align-items: center;
text-align: center;

color: #001D3D;
}

.divperfil2-p1-c h2{
    font-family: 'Outfit';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 45px;

align-items: center;
text-align: center;

color: #001D3D;

margin-bottom: 0em;
    }
.divperfil2-p1-c h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;

align-items: center;
text-align: center;
margin-top: 0%;
padding: 0.5em;

color: #001D3D;
}

.imgpay{
    margin: auto;
    
    
}

.divperfil2-p2{

    margin-top: 2em;
    background: #FFFFFF;
border: 5px solid #001D3D;
box-sizing: border-box;
border-radius: 20px;
padding: 1.5em
}

.divperfil2-p1-c h7{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 0%;
/* or 0px */


align-items: center;
text-align: center;

color: rgba(1, 38, 78, 0.6);
margin: auto;
margin-bottom: 0.5em;

    
    }

    .divperfil2-p2 h8{
        font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.025em;
    
    color: #001D3D;
  
    
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
    }

    .imgprodu{
        width: 136px;

    }
    .divperfil2-p2 h6{
        font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;

align-items: center;
text-align: center;

color: #001D3D;

    }

    .nuev {
        padding: 2;
        margin-top: 4em;
        margin-bottom: 4em;
    }

    .soli {
        display: flex;
        justify-content: flex-end;
        width: 70%;
    }

    .ticajon{
        display: flex;
        justify-content: flex-start;
        width: 50%;

    }

    .cajonp1-sub h3{
        font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;

color: #001D3D;

    }
 
    
.divperfil2-p1-com::-webkit-scrollbar {
        width: 2px;
        height: 12px;
        
    }
    
.divperfil2-p1-com::-webkit-scrollbar-thumb {
        background: #003975;
        border-radius: 10px;
    }    