*{
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;

  
}

body {
  
  
}

nav {
  width: 100%;
  background-color: transparent;
  color: gray;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

nav .nav-bar {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  padding-left: 5%;
  padding-right: 5%;
}

nav .nav-bar a{
  text-decoration: none;
  color:#FFFFFF;
  -webkit-text-stroke: 0.2px #000814;
  width: auto;
  margin-right: 8px;
  margin-left: 8px;
  display: inline-block;
  text-align: center;
  font-size: 2.5vh;

}


nav .nav-bar a:hover {
  color: black;
}

nav .nav-bar form{
   text-decoration: none;
  width: 10vh;
  display: inline-block;
  text-align: center;
  
  
}
input[type="submit"]{
  background-color: #001D3D;
  padding-top: 0.5vh;
  color: aliceblue;
  padding-left: 2vh;
  padding-right: 2vh;
  width: 15vh;
  border-radius: 10px;
  font-size: 2.5vh;

}
.contenedor {
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-image: url('./imagenes/Group\ 7.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.Cajon {
  width: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
  margin-left: 10vh;
}

h1 {
  font-size: 7vh;
  color: #000814;
  margin-bottom: 10px;
}
.caj{
  font-size: 4vh;
  color: #000814;
}
.ti2 {
  font-size: 7vh;
  color: #FFFFFF;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 2%;
}

.z1{
  background-color:#001D3D ;
  height: auto;
}

.boton {
  margin-top: 30px;
  background-color: #001D3D;
  padding-top: 5px;
  color: aliceblue;
  padding-bottom: 5px;
  width: 200px;
  text-align: center;
  border-radius: 20px;
}

.boton:hover {
  background-color: rgb(14, 83, 129);
  cursor: pointer;
}

.plan{

  width: 167vh;
  height: 70vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.plansito {
  width: 40vh;
  height: 55vh;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.plansito h1{
  color: #E31B15;
  font-size: 5vh;
  text-align: center;
  
  border-bottom: 1px solid black;
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.plansito h2{
  color: #000000;
  font-size: 3.5vh;
  text-align: center;
  margin-top: 5%;

}


.plansito h3{
  color: #000000;
  font-size: 3vh;
  text-align: center;
  margin-top: 5%;
  border-bottom: 1px solid black;
  width: 80%;
  margin: auto;
 
}

.plansito h4 {
  font-family: 'Poppins', sans-serif;
font-weight: normal;
font-size: 2vh;

padding-top: 1.5vh;
padding-bottom: 1.5vh;
text-align: center;
border-bottom: 1px solid black;
width: 80%;
  margin: auto;
 
}

input.sel {
  font-family: Poppins;
font-style: normal;
font-weight: normal;
  text-align: center;
  background-color: #001D3D;
  padding-top: 5px;
  color: aliceblue;
  padding-bottom: 5px;
  width: 100px;
  border-radius: 10px;

  margin-top: 2vh;
  margin-block: 2vh;

  display:block;
  margin-left: auto;
  margin-right: auto;
}

/* Login */

.fondLogin {
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-image: url('./imagenes/login.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.fondRegi {
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-image: url('./imagenes/Registro.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.card-log{
  width: 167vh;
  height: 70vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.log h1{
  font-family: Outfit;
font-style: normal;
font-weight: bold;
display: flex;
align-items: center;
letter-spacing: 0.02em;
font-size: 10vh;
color: #001D3D;
}

.log h2{
  
font-family: Poppins;
font-style: normal;
font-weight: normal;
display: flex;
align-items: center;
letter-spacing: 0.02em;
font-size: 3vh;

color: #001D3D;
}
.card-logi {
  width: 40vh;
  height: 20vh;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

input[type="email"]{
  width: 40vh;
  /* height: 44vh; */
  border: 1px solid #001D3D;
  box-sizing: border-box;
  border-radius: 5px;
  filter: drop-shadow(3px 2px 2px #001D3D);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-size: 3vh;
  padding: 1vh;

}

input[type="password"]{
  width: 40vh;
  /* height: 44vh; */
  border: 1px solid #001D3D;
  box-sizing: border-box;
  border-radius: 5px;
  filter: drop-shadow(3px 2px 2px #001D3D);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-size: 3vh;
  padding: 1vh;

}

a {
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 2vh;
line-height: 0%;

margin-top: 5vh;
margin-bottom: 5vh;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: rgba(1, 38, 78, 0.6);
}

.regi{
  background-color: #001D3D;
  padding-top: 0.5vh;
  color: aliceblue;
  padding-left: 2vh;
  padding-right: 2vh;
  width: 15vh;
  border-radius: 10px;
  font-size: 2.5vh;
  margin-top: 5vh;
}